.wrapper {
  margin: 1.5rem 0;
}

.optionGroup {
  margin-bottom: 1rem;
}

.label {
  display: block;
  font-style: italic;
  margin-bottom: 0.5rem;
}

.optionValues {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.optionButton {
  border: none;
  background: var(--white);
  color: var(--cerulean);
  border-radius: 50px;
  border: 1px solid var(--cerulean);
  font-weight: 400;
  font-size: 2rem;
  font-family: var(--font-family);
  padding: 0.8rem 1.6rem;
  cursor: pointer;
  transition: all 0.2s ease;
}

.optionButton:hover {
  color: #666;
  background: var(--turquoise);
  border: 1px solid transparent;
}

.active {
  border: none;
  font-weight: 400;
  background-color: var(--cerulean);
  color: var(--white);
  border-radius: 50px;
}
